{% load static %}
{% load sass_tags %}

<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="display" id="row-select-delete">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Student Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Course</th>
              <th>XP</th>
              
              
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <td>4</td>
              <td>Sami</td>
              <td>johndoe@example.com</td>
              <td>(123) 456-7890</td>
              <td>Mathematics</td>
              <td><span class="badge badge-light-success">445</span></td>
            </tr>
            <tr>
              <td>5</td>
              <td>Jane Smith</td>
              <td>janesmith@example.com</td>
              <td>(987) 654-3210</td>
              <td>History</td>
              <td><span class="badge badge-light-warning">375</span></td>
            </tr>
            <tr>
              <td>6</td>
              <td>Bob Johnson</td>
              <td>bob@example.com</td>
              <td>(555) 123-4567</td>
              <td>Science</td>
              <td><span class="badge badge-light-warning">365</span></td>
            </tr>
            <tr>
              <td>7</td>
              <td>Ahmed Ali</td>
              <td>ahmedali@example.com</td>
              <td>(555) 987-6543</td>
              <td>Computer Science</td>
              <td><span class="badge badge-light-warning">275</span></td>
            </tr>
            <tr>
              <td>8</td>
              <td>Fatima Hassan</td>
              <td>fatimah@example.com</td>
              <td>(555) 555-5555</td>
              <td>Electrical Engineering</td>
              <td><span class="badge badge-light-danger">105</span></td>
            </tr>
            <!-- Add more rows with technical courses and Arabic users -->
          </tbody>
          
          
        </table>
      </div>
    </div>
  </div>
</div>