{% load static %}
{% load sass_tags %}

<div class="col-xl-3 col-sm-12 col-xxl-4 col-ed-4 box-col-4">
  <div class="card social-profile" style=" margin-top: 25px;">
    <div class="card-body">
      <div class="social-img-wrap" style="background: none;"> 
        <div class="social-img"><img src="{% static 'assets/images/user/second.png'%}" alt="profile"></div>
        
      </div>
      <div class="social-details">
        <h5 class="mb-1"><a href="social-app.html">Farid</a></h5><span class="f-light">@farid</span>
        <ul class="card-social">
          <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://accounts.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://rss.app/" target="_blank"><i class="fa fa-rss"></i></a></li>
        </ul>
        <ul class="social-follow"> 
          <li>
            <h5 class="mb-0">2</h5><span class="f-light">Rank</span>
          </li>
          <li>
            <h5 class="mb-0">3</h5><span class="f-light">Courses</span>
          </li>
          <li>
            <h5 class="mb-0">475</h5><span class="f-light">XP</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-sm-12 col-xxl-4 col-ed-4 box-col-4">
  <div class="card social-profile" >
    <div class="card-body" >
      <div class="social-img-wrap" style="background: none;" >  
        <div class="social-img"><img src="{% static 'assets/images/user/first.png'%}" alt="profile"></div>
        
      </div>
      <div class="social-details">
        <h5 class="mb-1"><a href="social-app.html">Merwan</a></h5><span class="f-light">@merwan</span>
        <ul class="card-social">
          <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://accounts.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://rss.app/" target="_blank"><i class="fa fa-rss"></i></a></li>
        </ul>
        <ul class="social-follow"> 
          <li>
            <h5 class="mb-0">1</h5><span class="f-light">Rank</span>
          </li>
          <li>
            <h5 class="mb-0">4</h5><span class="f-light">Courses</span>
          </li>
          <li>
            <h5 class="mb-0">515</h5><span class="f-light">XP</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-sm-12 col-xxl-4 col-ed-4 box-col-4">
  <div class="card social-profile" style=" margin-top: 45px;">
    <div class="card-body">
      <div class="social-img-wrap" style="background: none;"> 
        <div class="social-img"><img src="{% static 'assets/images/user/third.png'%}" alt="profile"></div>
        
      </div>
      <div class="social-details">
        <h5 class="mb-1"><a href="social-app.html">Amine</a></h5><span class="f-light">@amine</span>
        <ul class="card-social">
          <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://accounts.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://rss.app/" target="_blank"><i class="fa fa-rss"></i></a></li>
        </ul>
        <ul class="social-follow"> 
          <li>
            <h5 class="mb-0">3</h5><span class="f-light">Rank</span>
          </li>
          <li>
            <h5 class="mb-0">3</h5><span class="f-light">Courses</span>
          </li>
          <li>
            <h5 class="mb-0">455</h5><span class="f-light">XP</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>