{% load static %}
{% load sass_tags %}

<div class="email-wrap">
  <div class="row">
    <div class="col-xl-3 box-col-6">
      <div class="email-left-aside">
        <div class="card">
          <div class="card-body">
            <div class="email-app-sidebar">
              
              <ul class="nav main-menu" role="tablist">
                
                {% for chapiter in formation.chapiter_set.all %}
               
                  <li class="nav-item">
                      <a  id="chap{{ chapiter.id }}-tab" data-bs-toggle="pill"
                        href="#chap{{ chapiter.id }}">
                        <span class="title"><i class="icon-file"></i> {{ chapiter.title }}</span>
                        
                      </a>
                  </li>
              {% endfor %}
                    </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 box-col-12">
      <div class="email-right-aside">
        <div class="card email-body">
          <div class="row">
            