{% load static %}
{% load sass_tags %}

<div class="col-xl-12 col-md-12 box-md-12 ">
  <div class="email-right-aside">
    <div class="email-body radius-left">
      <div class="ps-0">
        <div class="tab-content">
          {% for chapiter in formation.chapiter_set.all %}

          <div class="tab-pane fade {% if forloop.first %}show active{% endif %} " id="chap{{ chapiter.id }}" role="tabpanel"
            aria-labelledby="chap{{ chapiter.id }}-tab">
            <div class="email-content">
              <div class="email-top">
                <div class="row">
                  <div class="col-md-6 xl-100 col-sm-12">
                    <div class="media"><img class="me-3 rounded-circle" src="{% static 'assets/images/user/user.png'%}"
                        alt="">
                      <div class="media-body">
                        <h6>{{formation.formateur.user.username}} </h6>
                        <p>{{formation.formateur.job}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12 xl-100">
                    <div class="float-end d-flex">
                      <p class="user-emailid">{{formation.formateur.email}}</p><i
                        class="fa fa-star-o f-18 mt-1"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="email-wrapper">
                <h5>{{chapiter.title}}</h5>
                <p class="m-b-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non diam facilisis,
                  commodo libero et, commodo sapien. Pellentesque sollicitudin massa sagittis dolor facilisis, sit amet
                  vulputate nunc molestie. Pellentesque maximus nibh id luctus porta. Ut consectetur dui nec nulla
                  mattis luctus. Donec nisi diam, congue vitae felis at, ullamcorper bibendum tortor. Vestibulum
                  pellentesque felis felis. Etiam ac tortor felis. Ut elit arcu, rhoncus in laoreet vel, gravida sed
                  tortor.</p>
                <p>In elementum varius nisi vel tempus. Donec eleifend egestas viverra. Donec dapibus sollicitudin
                  blandit. Donec scelerisque purus sit amet feugiat efficitur. Quisque feugiat semper sapien vel
                  hendrerit. Mauris lacus felis, consequat nec pellentesque viverra, venenatis a lorem. Sed urna</p>
                  <ul class="nav main-menu" role="tablist" style="display: flex; justify-content: flex-end; margin: 0 8px 8px 0;">
                    <li class="nav-item">
                       {% if chapiter.id in chapiter_scores %} 
                <a id="chap{{ chapiter.id }}-quiz-tab" 
                href="{% url 'result' formation.id chapiter.id %}" class="purchase-btn btn btn-primary btn-hover-effect f-w-500 ">View Result</a>
            {% else %}
            <a id="chap{{ chapiter.id }}-quiz-tab" 
            href="{% url 'quiz' formation.id chapiter.id %}" class="purchase-btn btn btn-primary btn-hover-effect f-w-500 ">Start Quiz</a>
            {% endif %}
                  </li></ul>
                <hr>
                <div class="d-inline-block">
                  <h6 class="text-muted"><i class="icofont icofont-clip"></i> ATTACHMENTS</h6>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="attachment file-content">
                  <ul class="list-inline folder">
                    <li class="folder-box" style="width: auto;">
                      <div class="media"><i class="fa fa-file-text-o txt-info" style="font-size: 30px;"></i>
                        <div class="media-body ms-3">
                          <a href="{{ chapiter.file.url }}" target="_blank"><h6>{{ chapiter.file.name }}</h6> </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>

<div class="col-xl-12 call-chat-body">
  <div class="card">
    <div class="card-body p-0">
      <div class="row chat-box">
        <!-- Chat right side start-->
        <div class="col pe-0 chat-right-aside">
          <!-- chat start-->
          <div class="chat">
            <!-- chat-header start-->
            <div class="chat-header clearfix"><img class="rounded-circle" src="{% static 'assets/images/user/user.png'%}"
                alt="">
              <div class="about">
                <div class="name">Chatbox</div>
                <div class="status">Online</div>
              </div>
              <ul class="list-inline float-start float-sm-end chat-menu-icons">
                <li class="list-inline-item"><a href="#"><i class="icon-search"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="icon-video-camera"></i></a></li>
                <li class="list-inline-item toogle-bar"><a href="#"><i class="icon-menu"></i></a></li>
              </ul>
            </div>
            <!-- chat-header end-->
            <div class="chat-history chat-msg-box custom-scrollbar">
              <ul class="messages" id="messages">
                <script>

// Call the function to create and append the chat message input box


                function addMessagesToChatbox(messages) {
                        var messagesList = document.getElementById('messages');
                        messagesList.innerHTML = ''; // Clear previous messages

                        messages.forEach(function (message, index) {
                        var li = document.createElement('li');
                        var messageDiv = document.createElement('div');
                        var messageDataDiv = document.createElement('div');
                        var img = document.createElement('img');

                        var text = document.createElement('p')

                        img.classList.add('rounded-circle', 'float-' + (index % 2 === 0 ? 'start' : 'end'), 'chat-user-img', 'img-30');
                        img.src = "{% static 'assets/images/user/user.png'%}";
                        img.alt = "";
                        text.innerText = message
                        messageDiv.classList.add('message', index % 2 === 0 ? 'my-message' : 'other-message');
                        messageDiv.appendChild(img);
                        messageDiv.appendChild(text)

                        messageDataDiv.classList.add('message-data');
                        if (index % 2 !== 0) {
                            messageDataDiv.classList.add('pull-right');
                        }

                        messageDiv.appendChild(messageDataDiv);
                        li.appendChild(messageDiv);

                        if (index % 2 === 0) {
                            li.classList.add('clearfix');
                        }

                        messagesList.appendChild(li);
                    });
                }
// Example array of messages
var messagesArray = [ // pair => other-message, impair=> my-message
                'Hello, welcome to the chatbox!',
                // 'Feel free to drag me around.',
                // 'This is another message in the chatbox.',
                // 'You can populate messages dynamically from an array.',
                // 'You can populate messages dynamically from an array.'
            ];

// fetch('/chat/data/')
//     .then(response => response.json())
//     .then(data => {
//         // Assuming the result is a string
//         let resultString = data.data;
//         // Convert the string to a JavaScript array (if applicable)
//         // let resultArray = resultString.split(' '); // Example: Split string by space
//         // Now, you have the result in a JavaScript array (resultArray)
//         console.log(resultString);
//         messagesArray.push(resultString)
//         
//     })
//     .catch(error => {
//         console.error('Error:', error);
//     });

                      // Populate messages from the array
                      addMessagesToChatbox(messagesArray);

                </script>
            <!-- end chat-history-->
            <div class="chat-message clearfix">
              <div class="row">
                <div class="col-xl-12 d-flex">
                  
                  <div class="input-group text-box">
                    <input class="form-control input-txt-bx" id="message-to-send" type="text" name="message-to-send"
                      placeholder="Type a message......">
                      <script>

                        function getCookie(name) {
                          var cookieValue = null;
                          if (document.cookie && document.cookie !== '') {
                              var cookies = document.cookie.split(';');
                              for (var i = 0; i < cookies.length; i++) {
                                  var cookie = cookies[i].trim();
                                  // Does this cookie string begin with the name we want?
                                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                      break;
                                  }
                              }
                          }
                          return cookieValue;
                      }

                        function sendMessage() {
                        var userInput = document.getElementById('message-to-send').value;
                        console.log(userInput)
                        messagesArray.push(userInput)
                        if (userInput.trim() !== "") {
                          const csrftoken = getCookie('csrftoken');
                            // Send user input to the server using a POST request
                            fetch('/chat/send/', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': csrftoken
                                },
                                body: JSON.stringify({
                                    message: userInput
                                })
                            })
                            .then(response => response.json())
                            .then(data => {
                                // Assuming the result is a string
                                let resultString = data.data;
                                // Append the received message to the chatbox
                                messagesArray.push(resultString);
                                addMessagesToChatbox(messagesArray);
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });

                            // Clear the user input field after sending the message
                            document.getElementById('message-to-send').value = '';
                        }
                    }

                      </script>
                    <button class="input-group-text btn btn-primary" onclick="sendMessage()" type="button">SEND</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end chat-message-->
            <!-- chat end-->
            <!-- Chat right side ends-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>