{% load static %}
<div class="col-xxl-6 col-ed-4 col-xl-4 box-col-4">
    <div class="row"> 
      <div class="col-xl-12 col-md-12"> 
        <div class="card social-profile">
          <div class="card-body">
            <div class="social-img-wrap"> 
              <div class="social-img"><img src="{% static 'assets/images/user/user.png'%}" alt="profile"></div>
              <div class="edit-icon">
                <svg>
                  <use href="{% static 'assets/svg/icon-sprite.svg'%}#profile-check"></use>
                </svg>
              </div>
            </div>
            <div class="social-details">
              <h5 class="mb-1"><a href="social-app.html">Merwan</a></h5><span class="f-light">@merwan</span>
              <ul class="social-follow">
                <li>
                  <h5 class="mb-0">1</h5><span class="f-light">Rank</span>
                </li>
                <li>
                  <h5 class="mb-0">4</h5><span class="f-light">Courses</span>
                </li>
                <li>
                  <h5 class="mb-0">575</h5><span class="f-light">XP</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-sm-6"> 
        <div class="card follower-wrap">
          <div class="card-header card-no-border">
            <h5 class="mb-1">Courses</h5>
            <div class="d-inline-block badge badge-light-success rounded-pill">Active</div>
          </div>
          <div class="card-body pt-0 papernote-wrap">
            <ul class="campaign-list"> 
              <li> 
                <div class="campaign-box"> 
                  <h5 class="mb-1">75</h5><span class="f-light">daily XP</span>
                </div>
              </li>
              <li> 
                <div class="campaign-box"> 
                  <h5 class="mb-1">575</h5><span class="f-light">XP total</span>
                </div>
              </li>
            </ul>
            <div class="customers">
              <ul> 
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="{% static 'assets/images/dashboard/user/1.jpg'%}" alt="user"></li>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="{% static 'assets/images/dashboard/user/6.jpg'%}" alt="user"></li>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="{% static 'assets/images/dashboard/user/7.jpg'%}" alt="user"></li>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="{% static 'assets/images/dashboard/user/3.jpg'%}" alt="user"></li>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="{% static 'assets/images/dashboard/user/8.jpg'%}" alt="user"></li>
                <li class="d-inline-block">
                  <div class="light-card"><span class="f-w-500">+5</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-6 col-ed-8 col-xl-8 box-col-8e"> 
    <div class="row"> 
      <div class="col-md-12"> 
        <div class="row"> 
          <div class="col-md-6 col-sm-6">
            <div class="card click-widgets widget-hover">
              <div class="card-body"> 
                <div class="dropdown icon-dropdown text-end">
                  <button class="btn dropdown-toggle" id="photoButton" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-more-alt"></i></button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="photoButton"><a class="dropdown-item" href="#">Today</a><a class="dropdown-item" href="#">Tomorrow</a><a class="dropdown-item" href="#">Yesterday</a></div>
                </div>
                <div class="d-flex justify-content-around">
                  <div class="click-chart">
                    <div id="photo-click"> </div>
                  </div>
                  <div> 
                    <h4 class="mb-0">%76</h4><span class="f-light d-block my-1">Courses</span><span class="font-success">+72.9%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="card click-widgets widget-hover">
              <div class="card-body"> 
                <div class="dropdown icon-dropdown text-end">
                  <button class="btn dropdown-toggle" id="clickButton" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-more-alt"></i></button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="clickButton"><a class="dropdown-item" href="#">Today</a><a class="dropdown-item" href="#">Tomorrow</a><a class="dropdown-item" href="#">Yesterday</a></div>
                </div>
                <div class="d-flex justify-content-around">
                  <div class="click-chart">
                    <div id="link-click"> </div>
                  </div>
                  <div> 
                    <h4 class="mb-0">%89</h4><span class="f-light d-block my-1">Chapters</span><span class="font-secondary">79.9%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
      
      <div class="col-md-12"> 
        <div class="card"> 
          <div class="card-header card-no-border">
            <div class="header-top">
              <h5 class="m-0">Chapters<span class="f-14 f-w-500 ms-1 f-light">(75% activity growth)</span></h5>
              <div class="card-header-right-icon">
                <div class="dropdown icon-dropdown">
                  <button class="btn dropdown-toggle" id="subscribeButton" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-more-alt"></i></button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="subscribeButton"><a class="dropdown-item" href="#">Today</a><a class="dropdown-item" href="#">Tomorrow</a><a class="dropdown-item" href="#">Yesterday</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="subscriber-chart-container">
              <div id="subscriber-chart"></div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="col-xxl-5 col-ed-none d-xxl-block d-lg-none box-col-none">
    <div class="card"> 
      <div class="card-header card-no-border">
        <div class="header-top">
          <h5 class="m-0">XPs</h5>
          
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="view-container">
          <div id="view"> </div>
        </div>
      </div>
    </div>
  </div>